{
  "plugins": ["babel-plugin-styled-components"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "2"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
